@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #333645;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  background-color: #fff;
}

.h1,
h1 {
  font-size: 36px;
  font-weight: 400;
}

.h2,
h2 {
  font-size: 32px;
}

.h2,
.h3,
.h4,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0 0 15px;
}

.h3,
.h4,
h3,
h4 {
  font-size: 20px;
}

.h3,
h3 {
  font-size: 26px;
}

.h4,
h4 {
  font-size: 16px;
}

p {
  line-height: 24px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

button {
  outline: 0;
  border: none;
  background: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?qsqs9d");
  src: url("../fonts/icomoon.eot?qsqs9d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qsqs9d") format("truetype"), url("../fonts/icomoon.woff?qsqs9d") format("woff"), url("../fonts/icomoon.svg?qsqs9d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin: 0 5px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tailwindcss:before {
  content: "\e90a";
  color: #38b2ac;
}

.icon-blender:before {
  content: "\e907";
  color: #f5792a;
}

.icon-adobeillustrator:before {
  content: "\e908";
  color: #ff7c00;
}

.icon-adobephotoshop:before {
  content: "\e909";
  color: #00c8ff;
}

.icon-unrealengine:before {
  content: "\e900";
}

.icon-mysql:before {
  content: "\e901";
  color: #4479a1;
}

.icon-php:before {
  content: "\e902";
  color: #777bb4;
}

.icon-javascript:before {
  content: "\e903";
  color: #f7df1e;
}

.icon-sass:before {
  content: "\e904";
  color: #c69;
}

.icon-css3:before {
  content: "\e905";
  color: #1572b6;
}

.icon-html5:before {
  content: "\e906";
  color: #e34f26;
}

.grid {
  display: grid;
  background-color: #333645;
  max-width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: 75px auto auto auto auto;
  grid-template-areas: "top-nav" "header" "main" "footer";
}
.grid .top-nav {
  grid-area: top-nav;
}
.grid header {
  grid-area: header;
}
.grid nav {
  grid-area: nav;
}
.grid main {
  grid-area: main;
}
.grid footer {
  grid-area: footer;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 200px 1fr;
    grid-auto-rows: auto auto auto auto auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  background: #333645;
  padding: 5px 15px;
  margin-top: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover {
  background-color: #A5DD9B;
  color: #333645;
}
.btn-secondary {
  background: #A5DD9B;
  color: #333645;
}
.btn-secondary:hover {
  background-color: #80c274;
  color: #333645;
}
.btn-form {
  width: 150px;
  background: #fff;
  border: 1px solid #333645;
  border-radius: 6px;
}
.btn-form a {
  color: #333645;
}
.btn-form:hover {
  background-color: #A5DD9B;
}

.top-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333645;
  padding: 10px 40px;
  transition: 1s ease;
  z-index: 98;
}
.top-nav .mobile-initials {
  z-index: 99;
}
.top-nav .hamburger {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 99;
}
.top-nav .hamburger .bar {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.2s ease;
}
.top-nav .hamburger .bar::before, .top-nav .hamburger .bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.2s ease;
}
.top-nav .hamburger .bar::before {
  top: -10px;
}
.top-nav .hamburger .bar::after {
  top: 10px;
}
.top-nav .hamburger .rotate {
  background: none;
  transform: rotate(180deg);
  transition: all 0.2s ease;
}
.top-nav .hamburger .rotate::before {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.2s ease;
}
.top-nav .hamburger .rotate::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
@media (min-width: 768px) {
  .top-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .sticky-wrapper {
    display: none;
  }
}

.is-sticky .top-nav {
  height: 70px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333645;
  transform: translateX(100%);
  transition: all 0.5s ease;
  z-index: 90;
}
.mobile-menu .nav-content-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}
.mobile-menu .nav-content-mobile a {
  font-size: 16px;
  margin: 15px 0;
}
@media (min-width: 576px) {
  .mobile-menu .nav-content-mobile a {
    font-size: 24px;
  }
}
.mobile-menu .contact-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.mobile-menu .contact-mobile a {
  font-size: 16px;
}
@media (min-width: 576px) {
  .mobile-menu .contact-mobile a {
    font-size: 24px;
    margin: 15px 0;
  }
}

.menu-active {
  transform: translateX(0);
}

.nav-container {
  display: none;
}
.nav-container .btn {
  width: 100%;
}
.nav-container .initials {
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 25px 0;
}
.nav-container .initials h2 {
  font-size: 28px;
  margin: 0;
}
@media (min-width: 992px) {
  .nav-container .initials h2 {
    font-size: 60px;
  }
}
.nav-container .initials .text-secondary:hover {
  color: #fff;
}
@media (min-width: 992px) {
  .nav-container .nav-content {
    margin: 20px 0;
  }
}
@media (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 200px;
    text-align: center;
  }
}

.contact {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.social-link {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  margin: 10px;
}
.social-link:hover {
  color: #A5DD9B;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
}
header .header-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  object-fit: cover;
}
header .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-align: center;
  padding: 0 15px;
}
header .heading .title-heading {
  font-size: 28px;
  margin-bottom: 5px;
  z-index: 5;
}
@media (min-width: 768px) {
  header .heading .title-heading {
    font-size: 32px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  header .heading .title-heading {
    font-size: 48px;
    margin-bottom: 15px;
  }
}
header .heading .header-img {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 5px;
  z-index: 5;
}
@media (min-width: 576px) {
  header .heading .header-img {
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  header .heading .header-img {
    max-width: 200px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  header .heading .header-img {
    max-width: 250px;
  }
}
header .heading .scroll-down {
  font-size: 14px;
  z-index: 5;
}

.alt {
  max-height: 600px;
}
.alt .header-vid {
  max-height: 600px;
}

.container {
  min-width: 280px;
  max-width: 575px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.link {
  color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  display: block;
  color: #fff;
  font-size: 24px;
  margin: 10px 0;
}

.text-primary {
  color: #333645;
}

.text-secondary {
  color: #A5DD9B;
}

.text-light {
  color: #fff;
}

.strong {
  font-size: 24px;
  font-weight: 600;
}

.title-heading {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin: 20px 0 0 0;
}
.title-heading h2 {
  font-weight: 600;
  margin: 0;
}
.title-heading h2 .icon-javascript, .title-heading h2 .icon-php {
  font-size: 68px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  margin: 20px 0;
}
.heading .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading .heading-container img {
  max-width: 40%;
  margin-left: 20px;
}
@media (min-width: 992px) {
  .heading .heading-container img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .heading .heading-container {
    flex-direction: row;
  }
}
.heading-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
}
.heading-skills .skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}
.heading-skills .skills-item .skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading-skills .skills-item .skills-content span {
  font-size: 96px;
  margin: 10px 0;
}
@media (min-width: 992px) {
  .heading-skills .skills-item {
    width: 50%;
  }
}
.heading-skills > :last-child {
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.projects-container .item {
  min-width: 280px;
  margin-top: auto;
}
.projects-container .item a {
  color: #333645;
}
.projects-container .item .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  height: 400px;
  text-align: center;
  color: #333645;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 20px 5px 20px 5px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.projects-container .item .card-brand-primary:hover {
  background-color: #333645;
  border-color: #333645;
  top: -10px;
}
.projects-container .item .card-brand-primary:hover span {
  color: #fff;
}
.projects-container .item .card-brand-secondary:hover {
  background-color: #A5DD9B;
  border-color: #A5DD9B;
  top: -10px;
}
.projects-container .item .card-brand-secondary:hover span {
  color: #fff;
}
.projects-container .item .card:hover {
  top: -10px;
}
.projects-container .item .card-img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 6px;
}
.projects-container .item .card h2 {
  font-size: 20px;
  font-weight: 600;
}
.projects-container .item .card h2,
.projects-container .item .card p {
  margin-top: 15px;
  margin-bottom: 0;
}
.projects-container .item .card h2:nth-child(3n), .projects-container .item .card h2:nth-child(4n),
.projects-container .item .card p:nth-child(3n),
.projects-container .item .card p:nth-child(4n) {
  margin-top: auto;
}
.projects-container .item .card em {
  font-size: 14px;
  margin-top: auto;
}
.projects-container .item .card em span {
  font-weight: 600;
}
@media (min-width: 576px) {
  .projects-container .item .card {
    padding: 20px 15px 20px 15px;
  }
}
@media (min-width: 576px) {
  .projects-container .item {
    width: 400px;
  }
}
@media (min-width: 576px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.contact-form .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background-color: #A5DD9B;
  color: #fff;
  padding: 15px;
}
.contact-form .contact-info .icon {
  font-size: 56px;
  margin-top: 0;
}
@media (min-width: 992px) {
  .contact-form .contact-info {
    width: 40%;
    border-radius: 6px 0 0 6px;
  }
}
.contact-form .form {
  width: 100%;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 15px;
}
.contact-form .form .input, .contact-form .form .textarea {
  font-size: 16px;
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}
.contact-form .form .input:focus, .contact-form .form .textarea:focus {
  border-color: #A5DD9B;
}
.contact-form .form .textarea {
  font-family: "Poppins", sans-serif;
  height: 150px;
}
.contact-form .form .error-message {
  color: #d24d57;
  padding: 0 10px;
  margin-top: 10px;
}
.contact-form .form #success-message {
  background-color: #A5DD9B;
  color: #fff;
  margin-top: 10px;
}
.contact-form .form button {
  color: #333645;
}
@media (min-width: 576px) {
  .contact-form .form .contact-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .contact-form .form .contact-name .name-item {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .contact-form .form .contact-name .name-item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .contact-form .form {
    width: 60%;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-radius: 0 6px 6px 0;
  }
}
@media (min-width: 992px) {
  .contact-form {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    max-width: 75%;
  }
}

.required::placeholder {
  color: red;
}

.code-container {
  max-width: 375px;
  margin: 20px auto;
}
.code-container .code-item {
  max-width: 100%;
  margin: 0 10px;
}
.code-container .code-item .code-background {
  background-color: #333645;
  border-radius: 15px 15px 0 0;
  color: #fff;
  height: 300px;
  white-space: pre-wrap;
  overflow: auto;
}
.code-container .code-item .code-background .code-snippet {
  background: none;
  font-size: 14px;
}
.code-container .code-item .code-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 1px solid #333645;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 10px 10px rgba(51, 54, 69, 0.3);
  margin: 0 0 20px 0;
}
.code-container .code-item .code-content .code-h3 {
  text-align: center;
}
.code-container .code-item .code-content .code-h3, .code-container .code-item .code-content .code-p {
  padding: 10px;
  margin: 0;
}
.code-container .code-item .code-content:hover {
  background-color: #A5DD9B;
  transition: 1s ease;
}
@media (min-width: 1200px) {
  .code-container .code-item .code-content {
    height: 320px;
  }
}
@media (max-width: 374px) {
  .code-container {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  .code-container {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  .code-container {
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .code-container {
    max-width: 992px;
  }
}

.slick-dots li button:before {
  font-size: 12px;
}

.back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}
.back-to-top .icon {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
