// ==========================================================================
// Global Config $
// ==========================================================================

// Import if google fonts URL is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

// Font styles
$font-url--google: 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900';

$font-primary: 'Poppins', sans-serif;

// Base colors

$white: #fff;
$accent: #f2f2f2;

// Brand colors

$brand-primary: #333645;
$brand-primary-hvr: #2c3149;
$brand-secondary: #A5DD9B;
$brand-secondary-hvr: #80c274;

// Card colors for card map

$project-colors: (
  'brand-primary': #333645,
  'brand-secondary': #A5DD9B,
);

// Service each loop

@mixin projects($map) {

  @each $project,
  $project-color in $project-colors {

    &-#{$project}:hover {
      background-color: $project-color;
      border-color: $project-color;
      top: -10px;

      & span {
        color: $white;
      }
    }
  }
}

// Breakpoints

$breakpoints: (
  'tiny': 374px,
  'xxs': 575px,
  'xs': 576px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px,
);

// Media queries

@mixin mq($break) {
  $value: map-get($breakpoints, $break );
  $xs: map-get($breakpoints, 'xs');

  @if $value ==null {
    @warn "`#{break}` is not a valid breakpoint name"
  }

  @else if $value <$xs {
    @media (max-width: $value) {
      @content;
    }
  }

  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}