// ==========================================================================
// Global Config $
// ==========================================================================

// Import if google fonts URL is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

// Font styles
$font-url--google: 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900';

$font-primary: 'Poppins', sans-serif;

// Base colors

$white: #fff;
$light-grey: #ddd;
$grey: #666;
$dark-grey: #454555;
$light-black: #272936;
$light-black-hvr: #121318;
$black: #000;
$accent: #ccc;
$quote-author: #a3a8ac;

$footer: #323544;
$footer-dark: #212330;

// Brand colors

$brand-primary: #333645;
$brand-primary-hvr: #2c3149;
$brand-secondary: #6ae1cd;
$brand-secondary-hvr: #44bda9;

// Card colors for card map

$project-colors: (
  'brand-primary': #333645,
  'brand-secondary': #6ae1cd,
);

// Service each loop

@mixin projects($map) {

  @each $project,
  $project-color in $project-colors {

    &-#{$project}:hover {
      background-color: $project-color;
      border-color: $project-color;
      top: -10px;

      & span {
        color: $white;
      }
    }
  }
}

// Breakpoints

$breakpoints: (
  '2xs': 375px,
  'xs': 480px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px,
);

// Media queries

@mixin mq($break) {
  $value: map-get($breakpoints, $break );
  $xs2: map-get($breakpoints, '2xs');

  @if $value ==null {
    @warn "`#{break}` is not a valid breakpoint name"
  }

  @else if $value <$xs2 {
    @media (max-width: $value) {
      @content;
    }
  }

  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}