// ==========================================================================
// Main
// ==========================================================================

// Containers

.container {
  min-width: 280px;
  max-width: 575px;
  margin-right: auto;
  margin-left: auto;

  @include mq('xs') {
    max-width: 576px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include mq('sm') {
    max-width: 768px;
  }

  @include mq('md') {
    max-width: 992px;
  }

  @include mq('lg') {
    max-width: 1260px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.link {
  color: $white;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  display: block;
  color: $white;
  font-size: 24px;
  margin: 10px 0;
}

.text-primary {
  color: $brand-primary;
}

.text-secondary {
  color: $brand-secondary;
}

.text-light {
  color: $white;
}

.strong {
  font-size: 24px;
  font-weight: 600;
}

// Headings

.title-heading {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  margin: 20px 0 0 0;

  & h2 {
    font-weight: 600;
    margin: 0;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  margin: 20px 0;

  & .heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      max-width: 40%;
      margin-left: 20px;

      @include mq('md') {
        max-width: 100%;
      }
    }

    @include mq('md') {
      flex-direction: row;
    }
  }

  &-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;

    & .skills-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 15px;

      & .skills-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        & span {
          font-size: 96px;
          margin: 10px 0;
        }
      }

      @include mq('md') {
        width: 50%;
      }
    }
  }
}

// Projects

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  .item {
    min-width: 280px;
    margin-top: auto;

    & a {
      color: $brand-primary;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 0;
      height: 400px;
      text-align: center;
      color: $brand-primary;
      background-color: $white;
      border: 1px solid $accent;
      border-radius: 15px;
      box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
      padding: 20px 5px 20px 5px;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: .5s ease;

      @include projects($project-colors);

      &:hover {
        top: -10px;
      }

      &-img {
        max-width: 250px;
        max-height: 250px;
        border-radius: 6px;
      }

      & h2 {
        font-size: 20px;
        font-weight: 600;
      }

      & h2,
      p {
        margin-top: 15px;
        margin-bottom: 0;

        &:nth-child(3n),
        &:nth-child(4n) {
          margin-top: auto;
        }
      }

      & em {
        font-size: 14px;
        margin-top: auto;

        & span {
          font-weight: 600;
        }
      }

      @include mq('xs') {
        padding: 20px 15px 20px 15px;
      }
    }

    @include mq('xs') {
      width: 400px;
    }
  }

  @include mq('xs') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// Contact form

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  margin: 0 auto;

  & .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0 0;
    background-color: $brand-secondary;
    color: $white;
    padding: 15px;

    & .icon {
      font-size: 56px;
      margin-top: 0;
    }

    @include mq('md') {
      width: 40%;
      border-radius: 6px 0 0 6px;
    }
  }

  & .form {
    width: 100%;
    background-color: $white;
    border: 2px solid $accent;
    border-top: none;
    border-radius: 0 0 6px 6px;
    padding: 15px;

    & .input,
    & .textarea {
      font-size: 16px;
      background-color: $white;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      margin: 15px 0;

      &:focus {
        border-color: $brand-secondary;
      }
    }

    & .textarea {
      height: 150px;
    }

    & button {
      color: $brand-primary;
    }

    @include mq('xs') {
      & .contact-name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & .name-item {
          margin-right: 15px;
          margin-bottom: 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    @include mq('md') {
      width: 60%;
      border: 2px solid $accent;
      border-left: none;
      border-radius: 0 6px 6px 0;
    }
  }

  @include mq('md') {
    flex-direction: row;
  }

  @include mq('lg') {
    max-width: 75%;
  }
}

.required::placeholder {
  color: red;
}

// Code snippets

.code-container {
  max-width: 100%;
  margin: 20px auto;

  & .code-item {
    max-width: 100%;
    margin: 0 10px;

    & .code-background {
      background-color: $brand-primary;
      border-radius: 15px 15px 0 0;
      color: $white;
      height: 300px;
      white-space: pre-wrap;
      overflow: auto;

      & .code-snippet {
        background: none;
        font-size: 14px;
      }
    }

    & .code-content {
      border: 1px solid $brand-primary;
      border-radius: 0 0 15px 15px;
      box-shadow: 1px 10px 10px rgba($brand-primary, .3);
      margin: 0 0 20px 0;

      & .code-h3 {
        text-align: center;
      }

      & .code-h3,
      & .code-p {
        padding: 10px;
        margin: 0;
      }

      &:hover {
        background-color: $brand-secondary;
        transition: 1s ease;
      }
    }
  }

  @include mq('tiny') {
    max-width: 280px;
  }

  @include mq('xxs') {
    max-width: 375px;
  }

  @include mq('sm') {
    max-width: 500px;
  }

  @include mq('md') {
    max-width: 750px;
  }

  @include mq('lg') {
    max-width: 992px;
  }
}

.slick-dots li button:before {
  font-size: 12px;
}